.card {
  list-style-type: none;
  width: 100%;
  max-width: 325px;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.card__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  width: 100%;
}

.card__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 0;
  margin: 0;
  color: #fff;

  overflow-wrap: anywhere;
}

.card__image {
  width: 100%;
  max-width: 325px;
  aspect-ratio: 325 / 475;
  height: auto;
  border: solid 1px #0000004d;
  object-fit: cover;
  border-radius: 19px;
  display: block;
}

.card__like-btn {
  background-image: url(../../assets/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  margin: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../../assets/heart-active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media (max-width: 749px) {
  .cards__list {
    gap: 16px;
    padding: 24px 0;
  }

  .card {
    max-width: 100%;
  }

  .card__image {
    max-width: 100%;
  }
}
